@{
    Layout = "Master.cshtml";
}
@using WebMSSQL.Models

<div>
    @if (ViewBag.flag)
    {
        <h1 align="center"> Search result</h1>
         @foreach(Resourses r in ViewBag.result)
    {
        <a href = "/Nornikel/Resourse/@r.path">
               <h2 align="center">@r.name</h2>
        </a>
         <p class="pic">
            <img src = "/images/@(r.Id).jpg" alt = "@r.name" width="200" height="200">
        </p>
    

        }
    }
    else
    {
        <h1  align="center">Empty response</h1>
    }

   
</div>